body {
  background-image: linear-gradient(225deg, #31484f 0, #314348 8.33%, #303d3f 16.67%, #303737 25%, #2f2f2f 33.33%, #2d2728 41.67%, #2a1e21 50%, #26151c 58.33%, #220c18 66.67%, #1f0116 75%, #1b0015 83.33%, #150014 91.67%, #0d0015 100%);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  color: rgb(61, 51, 91);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  text-align: center;
  background-image: linear-gradient(225deg, #98b1b7 0, #97aaae 8.33%, #96a3a4 16.67%, #959b9b 25%, #939292 33.33%, #91888a 41.67%, #8d7d82 50%, #88727c 58.33%, #836978 66.67%, #7d6175 75%, #765a74 83.33%, #6e5574 91.67%, #655174 100%);
  /* background-image: linear-gradient(225deg, #ebf0d5 0, #e9eaca 8.33%, #e6e2be 16.67%, #e4d9b1 25%, #e2cfa3 33.33%, #e0c495 41.67%, #deb887 50%, #dcac7a 58.33%, #db9f70 66.67%, #db9468 75%, #db8963 83.33%, #db7e61 91.67%, #da7461 100%); */
  border-radius: 10px 20px 10px;
}

.card {
  color:rgb(39, 54, 42);
}

.card:nth-of-type(2n){
  margin-left: 50%;
  background-color: #8d7d82;
  padding: 10px;
  padding-left: 30px;
  padding-right: 90px;
  border-radius: 15px 50px;
  width: 300px;
  margin-bottom: 20px;
  color:rgb(252, 252, 252);
}

.card:nth-of-type(2n+1){
  margin-left: 5%;
  background-color: #deb887;
  padding: 10px;
  padding-left: 100px;
  border-radius: 50px 15px;
  width: 300px;
  margin-bottom: 20px;
}

.card:nth-of-type(2) {
  background-image: url('./kisspng-react-javascript-angularjs-ionic-atom-5b154be6947457.3471941815281223426081.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.card:nth-of-type(2) {
  background-image: url('./kisspng-react-javascript-angularjs-ionic-atom-5b154be6947457.3471941815281223426081.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.card:nth-of-type(3) {
  background-image: url('./kisspng-react-javascript-angularjs-ionic-atom-5b154be6947457.3471941815281223426081.png');
  background-size: contain;
  background-repeat: no-repeat;
}


.card:nth-of-type(2) {
  background-image: url('./kisspng-react-javascript-angularjs-ionic-atom-5b154be6947457.3471941815281223426081.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.card:nth-of-type(4) {
  background-image: url('./kisspng-redux-react-javascript-angular-github-5c7d4781b9f025.0379217315517141777616.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.img {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.footer {
  color: #b5a5aa;
  border-radius: 100px;
  margin-top: 149px;
}