.super-mario {
    width: 200px;
    position: absolute;
    margin-left: 40px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-top: 257px;
    margin-left: 155px;
  }
  
  .baloon {
    position: absolute;
    margin-left: 300px;
    z-index: 1;
  }
  
  .speach {
    z-index: 2;
    font-size: 25px;
    position: absolute;
    margin-left: 320px;
    margin-top: 65px;   
  }
  
  .bowser {
    width: 300px;
    margin-left: 570px;
    top: 200px;
    position: absolute;
    font-size: 25px;
    z-index: 1;
}