.super-mario {
    width: 200px;
    position: absolute;
<<<<<<< HEAD
    margin-left: 40px;
=======
>>>>>>> master
  }
  
  .goomba {
    width: 100px;
    position: absolute;
<<<<<<< HEAD
    margin-top: 300px;
    margin-left: 90px;
=======
    margin-top: 290px;
    margin-left: 50px;
>>>>>>> master
  }
  
  .baloon {
    position: absolute;
    margin-left: 300px;
    z-index: 1;
  }
  
  .speach {
<<<<<<< HEAD
    z-index: 2;
    font-size: 25px;
    position: absolute;
    margin-left: 320px;
    margin-top: 65px;   
  }
  
  .bowser {
    width: 300px;
    margin-left: 550px;
    top: 250px;
    position: absolute;
=======
    font-size: 25px;
    position: absolute;
    margin-left: 320px;
    margin-top: 65px;
    z-index: 2;
}
  
  .bowser {
    width: 300px;
    position: absolute;
    margin-left: 580px;
    margin-top: 150px;
>>>>>>> master
  }