/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 10px;
}

body {
  font-size: xx-large;
}

article {

}

h1 {
  font-size: xx-large;
}

h2 {

}

img {
	max-width: 100%;
  margin-top: 55px;
}

main {

}

section {

}

figure {
	margin: 0;
}

figcaption {
  font-size: .8em;
}